:root {
  --primary-color: #007bff;
  --secondary-color: #ec3713;
  --success-color: #28a745;
  --info-color: #17a2b8;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  --link-color: #007bff;
  --link-hover-color: #0056b3;
  --link-hover-text-decoration: underline;
  --border-radius: 0.25rem;
  --transition: all 0.5s ease-in-out;
  --secondary-background-color: #dd6851;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
  color: var(--dark-color);
}